docker {
        enabled = true
        temp = 'auto'
}

params {

    out_dir = launchDir

    //-------HISAT2-------
    //provide the path to the directory containing fastq or fastq.gz files
    reads_folder = false
    hisat2_index = false

    //-------featureCounts-------
    //provide a gtf file, containing the features used for featureCounts process
    bam_files_to_count = false
    features_to_count = false

    //all container used in the processes
    container_hisat = "quay.io/biocontainers/hisat2:2.2.1--h87f3376_4"
    container_fastq = false
    container_samtools = "quay.io/biocontainers/samtools:1.15.1--h1170115_0" //samtools 1.15.1 Using htslib 1.15
    container_subread = "quay.io/biocontainers/subread:2.0.1--hed695b0_0"
    container_HISAT2samtools = "quay.io/biocontainers/mulled-v2-a97e90b3b802d1da3d6958e0867610c718cb5eb1:2880dd9d8ad0a7b221d4eacda9a818e92983128d-0" // hisat2=2.1.0,samtools=1.8; Warning: not compatibel with hisat index, but got same output
}

report.enabled = true
timeline.enabled = true

//Setting queueSize to 2 for 16GB RAM Environment (e.g. Laptop), to limit parallel processes to 2 (6GB each HISAT2 process), otherwise Signal 9 (KILL) Signal
executor {
    name = 'local'
    queueSize = 2
}