docker {
        enabled = true
        temp = 'auto'
}

params {

    out_dir = launchDir


    //-------Mus musculus reference (GRCm38, release M25)-----------
    GRCm38_gtf_url = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M25/gencode.vM25.annotation.gtf.gz"
    hisat2_index_url = "https://cloud.biohpc.swmed.edu/index.php/s/grcm38_snp_tran/download"
    //downloading the hisat index via wget produces a weird file called download. it has to be renamed
    
    minimap2_GRCm38_ref_url = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M25/GRCm38.p6.genome.fa.gz"
    
    //-------TrimGalore-------
    // NebNext adapter sequences
    Read1_adapter = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    Read2_adapter = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"


    //-------HISAT2-------
    //provide the path to the directory containing fastq or fastq.gz files
    reads_folder = false
    hisat2_index_folder = "${projectDir}/reference_genome_GRCm38/Hisat_Index/grcm38_snp_tran"

    //-------minimap2------
    minimap2_index_folder = "${projectDir}/reference_genome_GRCm38/Minimap2_reference"


    //-------featureCounts-------
    //provide a gtf file, containing the features used for featureCounts process
    bam_files_to_count = false
    features_to_count_folder = "${projectDir}/reference_genome_GRCm38/Gene_annotation"


    //all container used in the processes
    container_TrimGalore = "quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0"
    container_fastp = "quay.io/biocontainers/fastp:0.23.2--h5f740d0_3"
    container_hisat = "quay.io/biocontainers/hisat2:2.2.1--h87f3376_4"
    container_minimap2 = "nanozoo/minimap2:2.24--82ff7f3"
    container_samtools = "quay.io/biocontainers/samtools:1.15.1--h1170115_0" //samtools 1.15.1 Using htslib 1.15
    container_subread = "quay.io/biocontainers/subread:2.0.1--hed695b0_0"
    container_HISAT2samtools = "quay.io/biocontainers/mulled-v2-a97e90b3b802d1da3d6958e0867610c718cb5eb1:2880dd9d8ad0a7b221d4eacda9a818e92983128d-0" // hisat2=2.1.0,samtools=1.8; Warning: not compatibel with hisat index, but got same output
    container_guppy_gpu = "nanozoo/guppy_gpu:latest"
    container_guppy_cpu = "genomicpariscentre/guppy:6.0.1"

    container_multiqc = "ewels/multiqc:latest"


}

report.enabled = true
timeline.enabled = true

//Setting queueSize to 2 for 16GB RAM Environment (e.g. Laptop), to limit parallel processes to 2 (6GB each HISAT2 process), otherwise Signal 9 (KILL) Signal
executor {
    name = 'local'
    queueSize = 4
}