docker {
        enabled = true
        temp = 'auto'
}

params {

    //provide the path to the directory containing fastq or fastq.gz files
    reads = false
    out_dir = launchDir
    
    hisat2_index = false

    //all container used in the processes
    container_hisat = "quay.io/biocontainers/hisat2:2.2.1--h1b792b2_3"
    container_fastq = false
    container_samtools = "quay.io/biocontainers/samtools:1.15.1--h1170115_0" //samtools 1.15.1 Using htslib 1.15
}